# Sequence Data Types

strings

In [31]:
# Immutable data types
str = "Namaste"

In [33]:
print(str)

Namaste

Lists

In [170]:
# Mutable data types
# can have values of different dataypes - multiple datatypes
listsamp = (1, 2, 6, 7, "hey there")
print(listsamp)

(1, 2, 6, 7, 'hey there')

Tuples

In [37]:
# immutable data types
# can have multiple duplicate values
tupsam = 1, 2, 3, 6, "Ram"
print(tupsam)

(1, 2, 3, 6, 'Ram')

Arrays

In [39]:
from array import *
arr = array("i", [1, 3, 5, 7, 9])
print(arr)

array('i', [1, 3, 5, 7, 9])

In [41]:
for y in arr: print(y)

1
3
5
7
9

In [43]:
arr1 = array("f", [1.0000998777, 79.9477578, 7.875783])
for x in arr1: print(x)

1.0000998973846436
79.94776153564453
7.8757829666137695

### Non Sequence Data types

Dictonary

In [45]:
# Unordered collection of data values
# stores data in Key : value pairs
dictsam = {1 : "apple", "two" : "Kiwi", 3: "Mango"}
print(dictsam)

{1: 'apple', 'two': 'Kiwi', 3: 'Mango'}

In [47]:
# creat a list of dictonaries 
# using the dict keyword
dict_list = ([ ("first" : 1), (2 : 'Second')])
print(dict_list)

SyntaxError: invalid syntax (1745986535.py, line 3)

In [49]:
dict_list = ([ ("first" , 1), (2 , 'Second')])
print(dict_list)

[('first', 1), (2, 'Second')]

Sets

In [51]:
# Immutable data sets can of various data types
# does not support line assignment
# the elements gets randomly arranged when it is printed 
setsam = {"nptel", 64.78934, 78888, "python", 3, 'science', 7, 12121, 'data'}
print(setsam)

{64.78934, 3, 'python', 7, 78888, 'data', 'science', 'nptel', 12121}

In [53]:
print(setsam)

{64.78934, 3, 'python', 7, 78888, 'data', 'science', 'nptel', 12121}

### range

In [55]:
# built in sequence type used in looping 
rangesa = range(1, 30, 5)
# print numbes from 1 to 30 in steps of 5
print(rangesa)

range(1, 30, 5)

In [57]:
for a in rangesa: print(a)

1
6
11
16
21
26

In [59]:
ran = range(0, 20, 4)
print(ran)
for x in ran:print(x)

range(0, 20, 4)
0
4
8
12
16

# Operations on Sequence and non-sequence Data types

## Indexing

In [28]:
str.index("s")

4

In [61]:
str.index("ste")

4

In [63]:
str.index("am")

1

In [65]:
str[4]

's'

In [69]:
str[-1] # the last index from the end of the string starts from -1

'e'

In [71]:
str[-2] #substring corresponding to the 2nd last position in the string

't'

#### Indexing in lists

In [77]:
listsamp = (1, 2, 6, 7, "hey there")
print(listsamp)

(1, 2, 6, 7, 'hey there')

In [79]:
listsamp.index(7)

3

In [81]:
listsamp[2]

6

In [83]:
listsamp[-1]

'hey there'

#### Indexing in Arrays

In [86]:
from array import *
arr1 = array("i", [6, 8, 9, 2, 5])
arr1[0]
for y in arr1: print(y)

6
8
9
2
5

In [88]:
arr1[-2]

2

#### Indexing in Tuples and sets

In [91]:
tupsam = (1, 3, 5, 7, 9, "data science")
tupsam.index(9)

4

In [93]:
tupsam[3]

7

In [95]:
tupsam[-1]

'data science'

In [97]:
setsam = {"nptel", 64.78934, 78888, "python", 3, 'science', 7, 12121, 'data'}
print(setsam)
setsam(3)

{64.78934, 3, 'python', 7, 78888, 'data', 'science', 'nptel', 12121}

TypeError: 'set' object is not callable

In [99]:
# set object does not support indexing

#### Indexing in dictionary

In [112]:
# indexing in dict is done using the key : value pair 
# the values in the dict are only indexed by keys 
dictsam = {1 : "apple", "two" : "Kiwi", 3: "Mango", "four" : "strawberry"}
print(dictsam)

{1: 'apple', 'two': 'Kiwi', 3: 'Mango', 'four': 'strawberry'}

In [108]:
# indexing by values is not possible in dictionary
dictsam["apples"]

KeyError: 'apples'

In [110]:
dictsam[1]

'apple'

#### Indexing in range

In [115]:
rangesam1 = range(0, 30, 4)

In [117]:
print(rangesam1)

range(0, 30, 4)

In [119]:
for x in rangesam1: print(x)

0
4
8
12
16
20
24
28

In [125]:
# given the index returns the element
rangesam1[6]

24

In [129]:
# using the function index we find the element present in the range
rangesam1.index(12)

3

In [131]:
rangesam1(4)

TypeError: 'range' object is not callable

## Slicing Operations

In [153]:
# slice operation is used to slice a given sequence data type or any object that will follow the Sequence protocol
# step default value is 1 
# It only considers upto to (n - 1)

Strings

In [137]:
print(str)

Namaste

In [139]:
str1 = "accomplishment"

In [141]:
print(str1)

accomplishment

In [143]:
str1[slice(1, 4, 2)]

'co'

In [145]:
str2 = "claustrophobic"
print(str2)

claustrophobic

In [147]:
str2[slice(1, 5, 2)]

'lu'

In [149]:
str2[slice(1, 5, 1)]

'laus'

In [155]:
str[:]

'Namaste'

In [161]:
str2[:8] # starting from the begining till n - 1 = 7

'claustro'

In [163]:
str1[3:] # subsrting from index 3 till the end is printed

'omplishment'

LISTS

In [172]:
print(listsamp)

(1, 2, 6, 7, 'hey there')

In [174]:
listsamp[2 : 4]

(6, 7)

 the rest of the operations remain the same to lists as well

Dictionary

In [178]:
dictsam = {1 : "apple", "two" : "Kiwi", 3: "Mango", "four" : "strawberry"}
print(dictsam)

{1: 'apple', 'two': 'Kiwi', 3: 'Mango', 'four': 'strawberry'}

In [180]:
dictsam[1]

'apple'

In [182]:
dictsam[1 : "two"]

KeyError: slice(1, 'two', None)

 Slicing is not possible in dictionaries

same goes with sets, SLicing is not possible

##### SLicing in Arrays and range

In [188]:
from array import *
for x in arr: print(x)

1
3
5
7
9

In [190]:
arr[:3]

array('i', [1, 3, 5])

In [192]:
arr[1:-1]

array('i', [3, 5, 7])

In [194]:
arr[:]

array('i', [1, 3, 5, 7, 9])

In [200]:
rangesa = range(1, 30, 5)
# print numbes from 1 to 30 in steps of 5
print(rangesa)

range(1, 30, 5)

In [202]:
for y in rangesa: print(y)

1
6
11
16
21
26

In [204]:
print(rangesa[:-1])

range(1, 26, 5)